*,*::before.*::after{
  box-sizing:border-box;
}
*{
  list-style:none;
}
body{
  font-family:'DRAGON QUEST',sans-serif;
  color:#fff;
  background-color:black;
}
/**点滅するアニメーション**/
.tenmetsu{
  /**animation:名前　開始から終了までの時間　繰り返し回数**/
  animation: tenmetsu 1s infinite;
}
@keyframes tenmetsu{
  50%{
    opacity:0;
  }
}

.start-logo{
  font-size:70px;
  margin:0;
  padding:100px 0 50px;
  text-align:center;
}
.start-moji{
  width:110px;
  margin:0 auto;
}
.yellow{
  font-size:25px;
  color:#ffff88;
}
.start-moji p{
  margin:0;
}

.start-comand p{
  margin:0;
}
.message-speed{
  text-align:center;
  margin:0;
  padding:30px 0;
}
.message-speed-list{
  text-align:center;
}
.inline-block{
  display:inline-block;
  margin:0 10px 25px 10px;
}

.profile-box{
  width:800px;
  height:400px;
  margin:100px auto 0;
  position:relative;
}
.name{
  display:inline-block;
  margin:0;
  padding:0 10px 10px;
  position:absolute;
  top:-10px;
  left:120px;
  font-size:40px;
  background-color:black;
}
.status{
  float:left;
  width:360px;
  margin:17px;
  border:3px solid #fff;
  border-radius:10px;
  font-size:40px;
  line-height:1.5;
}
.status-box{
  padding:0;
  width:300px;
  margin:20px auto;
}

.user{
  float:left;
  margin:50px;
}
.profile-text-box{
  width:760px;
  height:200px;
  border:3px solid #fff;
  border-radius:5px;
  margin:0 auto 80px;
}
.profile-text{
  width:700px;
  height:180px;
  padding:10px 30px;
}
.typist{
  margin:0;
  font-size:35px;
  letter-spacing:3px;
}
.text-start{
  font-size:35px;
}
.text-start:hover,.enemy-text-start{
  cursor:pointer;
}
.next1:hover,.next2:hover{
  cursor:pointer;
}
.fight-box{
  width:760px;
  height:600px;
  margin:0 auto;
}
.fighter-box{
  width:180px;
  height:180px;
  border:3px solid #fff;
  border-radius:5px;
  position:relative;
}
.fighter-name{
  position:absolute;
  top:-70px;
  left:50px;
  font-size:40px;
  display:inline-block;
  background-color:black;
  padding:0 10px;
}
.fighter-status{
  width:160px;
  height:160px;
  margin:10px;
  text-align:center;
}
.fighter-status ul{
  padding:0;
  margin:0;
}
.fighter-status li{
  text-align:center;
  font-size:40px;
  line-height:1.3;
}
.enemy-box{
  width:760px;
  margin:20px 0 40px;
  display:flex;
}
.enemy{
  font-size:60px;
  width:30%;
  text-align:center;
  margin:30px 0 0 20px;
}
.enemy-text-box{
  height:130px;
}
.enemy-text{
  width:700px;
  height:110px;
  padding:10px 30px;
}
.enemy-text-start{
  font-size:30px;
}
.typist2,.typist3{
  margin:0;
  font-size:30px;
  letter-spacing:3px;
}
